<div class="row">
	<div class="col-xs-6">
		<form action="/signup" method="post">
			<div class="form-group row">
				<label for="inputUsername" class="col-sm-4 form-control-label">Имя пользователя</label>
				<div class="col-sm-8">
					<input type="text" name="username" class="form-control" id="inputUsername" placeholder="Имя пользователя">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword" class="col-sm-4 form-control-label">Пароль</label>
				<div class="col-sm-8">
					<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Пароль">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputRePassword" class="col-sm-4 form-control-label">Пароль</label>
				<div class="col-sm-8">
					<input type="password" name="repassword" class="form-control" id="inputRePassword" placeholder="Введите пароль еще раз">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-offset-4 col-sm-8">
					<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
				</div>
			</div>
		</form>
	</div>
</div>