<div class="row">
	<div class="col-xs-6">
		<div class="card">
			<div class="card-block">
				<h4 class="card-title">{{user.username}}</h4>
				<p class="card-text">ID: {{user.id}}</p>
				<a href="#" class="card-link">Обновить</a>
				<a href="#" class="card-link">Удалить</a>
			</div>
		</div>
	</div>
</div>